html {
  line-height: 1.15; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

b, strong {
  font-weight: bolder; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

@keyframes anim_u-96 {
  0% {
    transform: translateX(60vw) scale(0.8) rotateY(0deg); }
  10% {
    transform: translateX(50vw) scale(1) rotateY(0deg); }
  50% {
    transform: translateX(-49vw) scale(0.7) rotateY(0deg);
    filter: blur(1px); }
  56% {
    transform: translateX(-55vw) scale(0.3) rotateY(180deg);
    filter: blur(5px); }
  90% {
    transform: translateX(58vw) scale(0.3) rotateY(180deg);
    filter: blur(2px); }
  100% {
    transform: translateX(60vw) scale(0.8) rotateY(0deg);
    filter: blur(0px); } }

@keyframes anim_u-96_boom {
  0% {
    transform: translateX(60vw) scale(0.8) rotateY(0deg); }
  35% {
    transform: translateX(10vw) scale(1) skew(0, -5deg); }
  55% {
    transform: translateX(10vw) scale(1) skew(0, 5deg); }
  75% {
    transform: translateX(10vw) scale(1) skew(0, -5deg); }
  100% {
    transform: translateX(10vw) scale(1) rotateY(0deg);
    filter: blur(0px); } }

@keyframes torped {
  0% {
    transform: translateX(30vw) scale(0.7) rotateY(180deg) skew(0, 10deg); }
  49% {
    transform: translateX(-60vw) scale(0.7) rotateY(180deg) skew(0, 10deg);
    filter: blur(1px); }
  58% {
    transform: translateX(-110vw) scale(0.3) rotateY(180deg) skew(0, 10deg);
    filter: blur(5px); }
  60% {
    transform: translateX(-110vw) scale(0.3) rotateY(0deg) skew(0, 10deg);
    filter: blur(5px); }
  100% {
    transform: translateX(40vw) scale(0.5) rotateY(0deg) skew(0, -10deg);
    filter: blur(0px); } }

@keyframes torped_boom {
  0% {
    transform: translateX(-10vw) rotateY(180deg) skew(0, 16deg);
    opacity: 1; }
  48% {
    transform: translateX(-77vw) rotateY(180deg) skew(0, 16deg);
    opacity: 1; }
  60% 100% {
    transform: translateX(-77vw) rotateY(180deg) skew(0, 16deg);
    opacity: 0; } }

@keyframes anim_mine_boom {
  0% {
    opacity: 0; }
  19% {
    opacity: 0; }
  20% {
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes anim_fire_boom {
  0% {
    opacity: 0; }
  47% {
    opacity: 0; }
  51% {
    opacity: 1;
    transform: scale(2); }
  55% {
    opacity: 1;
    transform: scale(2.5); }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes anim_bubbl {
  0% {
    opacity: 1;
    transform: translateY(0vw); }
  25% {
    transform: translateY(-3vw) translateX(2vw); }
  75% {
    transform: translateY(-6vw) translateX(4vw); }
  85% {
    opacity: .6;
    transform: translateY(-8vw) translateX(4.5vw); }
  100% {
    transform: translateY(-10vw) translateX(5vw);
    opacity: 0; } }

@keyframes anim_cat_boom {
  0% {
    transform: translateY(0vw); }
  58% {
    transform: translateY(0vw); }
  60% {
    transform: translateY(-19.2vw) rotate(30deg); }
  80% {
    transform: translateY(-19.2vw) rotate(45deg); }
  85% {
    transform: translateY(-18.2vw) rotate(30deg); }
  95% {
    transform: translateY(-17.7vw) rotate(45deg); }
  100% {
    transform: translateY(0vw); } }

@keyframes anim_flag_boom {
  0% {
    transform: translateY(0vw);
    opacity: 0; }
  90% {
    opacity: 0; }
  95% {
    opacity: 1; }
  100% {
    transform: translateY(0vw);
    opacity: 1; } }

@keyframes anim_wave_1 {
  0%, 100% {
    transform: translateX(-15vw);
    opacity: .1; }
  50% {
    opacity: 1;
    transform: translateX(0vw); } }

@keyframes anim_wave_2 {
  0%, 100% {
    opacity: 1;
    transform: translateX(0vw); }
  50% {
    transform: translateX(-15vw);
    opacity: .1; } }

@keyframes anim_ice {
  0% {
    transform: rotate(19deg) translateY(0vw); }
  100% {
    transform: translateY(2vw) rotate(-24deg); } }

@keyframes anim_star_one {
  0% {
    opacity: 1;
    transform: scale(1.5);
    filter: blur(0px); }
  100% {
    opacity: 0;
    transform: scale(1.3);
    filter: blur(4px); } }

@keyframes blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes rotating {
  from {
    transform: rotate(-8deg);
    filter: blur(2px); }
  to {
    transform: rotate(8deg);
    filter: blur(0px); } }

@keyframes comet {
  0% {
    opacity: 1;
    filter: blur(1px);
    transform: rotateY(180deg) scale(0.3) translateY(-6vw) translateX(0vw); }
  50% { }
  100% {
    opacity: 0;
    filter: blur(0.6px);
    transform: rotateY(180deg) scale(1) translateY(12vw) translateX(-13vw); } }

main {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-size: cover;
  overflow: hidden; }
  main .submarine {
    position: absolute;
    bottom: .4vw;
    right: 42%;
    max-height: 13vw;
    z-index: 1;
    min-width: 24vw;
    animation: anim_u-96_boom 20s linear infinite normal paused; }
    main .submarine > div:first-child {
      min-height: 17vw;
      width: 19vw;
      background-repeat: no-repeat;
      background-size: contain; }
      main .submarine > div:first-child img:first-child {
        position: absolute;
        top: 6.9vw;
        left: 3.3vw;
        width: 1.7vw;
        z-index: -1; }
    main .submarine .cat {
      position: absolute;
      z-index: -1;
      left: 15%;
      top: 4.8vw;
      animation: anim_cat_boom 20s linear infinite normal paused; }
      main .submarine .cat img {
        transform: rotate(-38deg);
        width: 6.5vw; }
    main .submarine .bubbles {
      width: 3vw;
      position: absolute;
      top: 1vw;
      right: 2vw;
      height: 11vw; }
      main .submarine .bubbles div:first-child img {
        animation: anim_bubbl 1.6s infinite linear  paused; }
      main .submarine .bubbles div:nth-child(2) img {
        animation: anim_bubbl 2s infinite linear  paused; }
      main .submarine .bubbles div:nth-child(3) img {
        animation: anim_bubbl 2s infinite linear paused; }
      main .submarine .bubbles div:nth-child(4) img {
        animation: anim_bubbl 2.5s infinite linear  paused; }
      main .submarine .bubbles div:nth-child(5) img {
        animation: anim_bubbl 1.4s infinite linear paused; }
  main .wave {
    bottom: 0;
    height: 23vw;
    min-width: 100%;
    position: absolute;
    overflow: hidden; }
    main .wave > div:nth-child(1), main .wave div:nth-child(2) {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover; }
    main .wave .wave_1 {
      background-image: url(../img/wave_2.png);
      animation: anim_wave_1 4s ease infinite alternate paused;
      width: 115vw; }
    main .wave .wave_2 {
      background-image: url(../img/wave.png);
      animation: anim_wave_2 4s ease infinite alternate  paused;
      width: 115vw; }
  main .big_ice {
    max-height: 20vw;
    max-width: 9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 1;
    padding: 0;
    box-sizing: border-box;
    animation: anim_ice 2.6s linear infinite alternate paused; }
    main .big_ice img {
      max-width: 12vw; }
    main .big_ice img:nth-child(2) {
      margin-top: -3.5vw;
      z-index: -1; }
    main .big_ice img:last-child {
      position: absolute;
      top: -7vw;
      left: 2.5vw;
      opacity: 0;
      animation: anim_flag_boom 20s linear infinite normal paused; }
  main .mine {
    width: 3.5vw;
    height: 4vw;
    background-image: url(..//img/mine.png);
    position: absolute;
    top: 16.9vw;
    background-size: 1232% 736%;
    background-position: 66% 45%;
    z-index: 1;
    right: 12vw;
    animation: anim_mine_boom 20s linear infinite normal paused; }
  main .fire_boom {
    width: 3.5vw;
    height: 4vw;
    position: absolute;
    top: 16.9vw;
    z-index: 1;
    right: 12vw;
    animation: anim_fire_boom  20s linear infinite normal paused; }
  main .torpeds {
    position: absolute;
    left: 160vw;
    top: 40vw;
    display: flex;
    flex-wrap: wrap;
    animation: torped_boom 20s linear infinite normal paused; }
  main .aurora, main .stars_on_sky {
    min-height: 23vw;
    min-width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0; }
  main .aurora {
    background-size: 100% 302%;
    top: 12vh;
    min-height: 11vw; }
  main .stars_on_sky {
    min-height: 17vw; }
    main .stars_on_sky .frozen {
      width: 2vw;
      height: 2vw;
      background-color: rgba(36, 124, 178, 0.1);
      outline-style: none;
      cursor: pointer;
      background-size: 100% 100%;
      border: 0px;
      right: 6vw;
      top: 6vw;
      position: absolute;
      animation: rotating 1s linear infinite alternate; }
    main .stars_on_sky .boolid {
      width: 5vw;
      height: 5vw;
      background-image: url(..//img/comet.png);
      background-color: rgba(36, 124, 178, 0.1);
      outline-style: none;
      cursor: pointer;
      background-size: 111% 113%;
      border: 0px;
      left: 16vw;
      top: -1vw;
      position: absolute;
      animation: comet 4s linear infinite paused; }
    main .stars_on_sky > div {
      position: absolute; }
    main .stars_on_sky .messadge {
      position: absolute;
      right: 5.6vw;
      top: 9vw;
      max-height: 3vw;
      display: none;
      align-items: center;
      flex-direction: column; }
      main .stars_on_sky .messadge p {
        font-size: 1rem;
        color: red;
        margin: 0;
        font-family: "roboto";
        animation: blink .6s ease alternate infinite; }
    main .stars_on_sky .star_one {
      top: 10vw;
      right: 3vw;
      animation: anim_star_one 1s  infinite alternate paused; }
      main .stars_on_sky .star_one img {
        width: .7vw; }
    main .stars_on_sky .star_two {
      top: 7vw;
      left: 12vw;
      animation: anim_star_one 2.5s  infinite alternate paused; }
      main .stars_on_sky .star_two img {
        width: .7vw; }
    main .stars_on_sky .star_three {
      top: 5vw;
      left: 42vw;
      animation: anim_star_one 1.5s  infinite alternate paused; }
      main .stars_on_sky .star_three img {
        width: .7vw; }
  main .anim {
    animation-play-state: paused; }
  main .popup {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    background-color: white;
    min-width: 200px;
    min-height: 200px; }
